//fonts
$font_0: quattrocento_sansbold;
$font_1: quattrocento_sansbold_italic;
$font_2: quattrocento_sansitalic;
$font_3: quattrocento_sansregular;
$font_4: amerika_sansregular;
$font_5: amerikaregular;
$font_6: amerika_alternatesregular;
$font_7: Amerika Sans;
$font_8: sans-serif;
