/****************************************************************************/
/****************************** ihover **************************************/
/****************************************************************************/

.ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.ih-item,
.ih-item * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ih-item a {
    color: #333;
    cursor: pointer;
}

.ih-item a:hover {
    text-decoration: none;
}

.ih-item img {
    width: 100%;
    height: 100%;
}

.ih-item.square {
    position: relative;
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
    border: 8px solid #f4f4f4;
    -webkit-box-shadow: 1px 1px 3px rgba(99, 188, 186, 0.3);
    box-shadow: 1px 1px 3px rgba(99, 188, 186, 0.3);
}
.ih-item.square .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.ih-item.square.effect6 {
    overflow: hidden;
}
.ih-item.square.effect6.colored .info {
    background: $albo_cashmere;
    background: rgba(250, 220, 220, 0.6);
}
.ih-item.square.effect6.colored .info h3 {
    background: rgba(250, 220, 220, 0.6);
}
.ih-item.square.effect6 .img {
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.ih-item.square.effect6 .info {
    background: #333333;
    background: rgba(131, 32, 30, 0.6);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.square.effect6 .info h3 {
    text-transform: uppercase;
    color: $albo_white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    background: $albo_brown;
    margin: 30px 0 0 0;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.square.effect6 .info .portfolio-desc {
    font-style: italic;
    font-size: 0.6em;
    margin: 0;
    position: relative;
    color: $albo_white;
    padding: 5px 5px 5px;
    text-align: center;
    -webkit-transition: all 0.35s 0.1s linear;
    -o-transition: all 0.35s 0.1s linear;
    transition: all 0.35s 0.1s linear;
}
.ih-item.square.effect6 a:hover .img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.ih-item.square.effect6 a:hover .info {
    visibility: visible;
    opacity: 1;
}

.ih-item.square.effect6.from_top_and_bottom .info h3 {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.ih-item.square.effect6.from_top_and_bottom .info p {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.ih-item.square.effect6.from_top_and_bottom a:hover .info h3,
.ih-item.square.effect6.from_top_and_bottom a:hover .info p {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.ih-item.square.effect6.from_left_and_right .info h3 {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.ih-item.square.effect6.from_left_and_right .info p {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.ih-item.square.effect6.from_left_and_right a:hover .info h3,
.ih-item.square.effect6.from_left_and_right a:hover .info p {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.ih-item.square.effect6.top_to_bottom .info h3 {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.ih-item.square.effect6.top_to_bottom .info p {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
.ih-item.square.effect6.top_to_bottom a:hover .info h3,
.ih-item.square.effect6.top_to_bottom a:hover .info p {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

.ih-item.square.effect6.bottom_to_top .info h3 {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.ih-item.square.effect6.bottom_to_top .info p {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}
.ih-item.square.effect6.bottom_to_top a:hover .info h3,
.ih-item.square.effect6.bottom_to_top a:hover .info p {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}
