//urls
$url_0: url('../fonts/quattrocentosans-bold-webfont.eot');
$url_1: url('../fonts/quattrocentosans-bold-webfont.eot?#iefix');
$url_2: url('../fonts/quattrocentosans-bold-webfont.woff2');
$url_3: url('../fonts/quattrocentosans-bold-webfont.woff');
$url_4: url('../fonts/quattrocentosans-bold-webfont.ttf');
$url_5: url('../fonts/quattrocentosans-bold-webfont.svg#quattrocento_sansbold');
$url_6: url('../fonts/quattrocentosans-bolditalic-webfont.eot');
$url_7: url('../fonts/quattrocentosans-bolditalic-webfont.eot?#iefix');
$url_8: url('../fonts/quattrocentosans-bolditalic-webfont.woff2');
$url_9: url('../fonts/quattrocentosans-bolditalic-webfont.woff');
$url_10: url('../fonts/quattrocentosans-bolditalic-webfont.ttf');
$url_11: url('../fonts/quattrocentosans-bolditalic-webfont.svg#quattrocento_sansbold_italic');
$url_12: url('../fonts/quattrocentosans-italic-webfont.eot');
$url_13: url('../fonts/quattrocentosans-italic-webfont.eot?#iefix');
$url_14: url('../fonts/quattrocentosans-italic-webfont.woff2');
$url_15: url('../fonts/quattrocentosans-italic-webfont.woff');
$url_16: url('../fonts/quattrocentosans-italic-webfont.ttf');
$url_17: url('../fonts/quattrocentosans-italic-webfont.svg#quattrocento_sansitalic');
$url_18: url('../fonts/quattrocentosans-regular-webfont.eot');
$url_19: url('../fonts/quattrocentosans-regular-webfont.eot?#iefix');
$url_20: url('../fonts/quattrocentosans-regular-webfont.woff2');
$url_21: url('../fonts/quattrocentosans-regular-webfont.woff');
$url_22: url('../fonts/quattrocentosans-regular-webfont.ttf');
$url_23: url('../fonts/quattrocentosans-regular-webfont.svg#quattrocento_sansregular');
$url_24: url('../fonts/AMERSN__-webfont.eot');
$url_25: url('../fonts/AMERSN__-webfont.eot?#iefix');
$url_26: url('../fonts/AMERSN__-webfont.woff');
$url_27: url('../fonts/AMERSN__-webfont.ttf');
$url_28: url('../fonts/AMERSN__-webfont.svg#amerika_sansregular');
$url_29: url('../fonts/AMERIKA_-webfont.eot');
$url_30: url('../fonts/AMERIKA_-webfont.eot?#iefix');
$url_31: url('../fonts/AMERIKA_-webfont.woff');
$url_32: url('../fonts/AMERIKA_-webfont.ttf');
$url_33: url('../fonts/AMERIKA_-webfont.svg#amerikaregular');
$url_34: url('../fonts/AMERIKAA-webfont.eot');
$url_35: url('../fonts/AMERIKAA-webfont.eot?#iefix');
$url_36: url('../fonts/AMERIKAA-webfont.woff');
$url_37: url('../fonts/AMERIKAA-webfont.ttf');
$url_38: url('../fonts/AMERIKAA-webfont.svg#amerika_alternatesregular');
$url_39: url('../svg/fond.svg');
$url_40: url('../img/guitare-duoalborada-ld.png');
$url_41: url('../img/guitare-duoalborada-ipad.png');
$url_42: url('../img/guitare-duoalborada-rond-seul.png');
$url_43: url('../img/svg/icon-play.svg');

