// Variables
@import 'albo-variables';

// Fonts
@import 'fonts';

//@extend-elements
//original selectors
//.item-menu a, span
%extend_1 {
    font-family: $font_7, $font_8;
    font-size: 26px;
    padding: 0 2px;
    color: $albo_black;
    text-align: center;
    text-decoration: none;
}

//original selectors
//.item-menu a:hover, .item-menu a:focus .item-menu a:active
%extend_2 {
    background-color: $albo_brown;
    color: $albo_cashmere;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
}

@font-face {
    font-family: $font_0;
    src: $url_0;
    src: $url_1 format('embedded-opentype'), $url_2 format('woff2'), $url_3 format('woff'), $url_4 format('truetype'), $url_5 format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font_1;
    src: $url_6;
    src: $url_7 format('embedded-opentype'), $url_8 format('woff2'), $url_9 format('woff'), $url_10 format('truetype'), $url_11 format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font_2;
    src: $url_12;
    src: $url_13 format('embedded-opentype'), $url_14 format('woff2'), $url_15 format('woff'), $url_16 format('truetype'), $url_17 format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font_3;
    src: $url_18;
    src: $url_19 format('embedded-opentype'), $url_20 format('woff2'), $url_21 format('woff'), $url_22 format('truetype'), $url_23 format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font_4;
    src: $url_24;
    src: $url_25 format('embedded-opentype'), $url_26 format('woff'), $url_27 format('truetype'), $url_28 format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font_5;
    src: $url_29;
    src: $url_30 format('embedded-opentype'), $url_31 format('woff'), $url_32 format('truetype'), $url_33 format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: $font_6;
    src: $url_34;
    src: $url_35 format('embedded-opentype'), $url_36 format('woff'), $url_37 format('truetype'), $url_38 format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: border-box;
}
html {
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden
}
nav {
    width: 70vw;
    order: -1;
}
article {
    flex: 1;
}
header {
    display: flex;
    height: 23vh;
}
h1{
    margin-bottom: .5rem;
    font-family: inherit;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
}
.wrapper {
    background: $url_39 no-repeat top right fixed;
    background-size: cover;
    flex: 1 1 auto;
    display: flex;
}
#main {
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: margin-left 0.5s;
    width: 65vw;
}
.bg-menu {
    background: $url_40 no-repeat top left;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 35%;
    height: 100%;
    margin: 0;
    padding: 59vh 0 0 6.8vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}
.item-menu {
    height: 22vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    a {
        @extend %extend_1;
        &:hover {
            @extend %extend_2;
        }
        &:focus .item-menu a:active {
            @extend %extend_2;
        }
    }
}
span {
    @extend %extend_1;
}
.item-menu-active {
    background-color: $albo_brown;
    color: $albo_cashmere;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 5px;
}
.open-slide {
    background-color: $albo_brown;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    width: 12vw;
}

.open-slide > a {
    z-index: 10;
}
.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $albo_black_green;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 30vh;
    //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
    transition: 0.5s;
    .item-menu {
        height: 22vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    a {
        font-family: $font_7, $font_8;
        font-size: 26px;
        padding: 0 2px 0 4px;
        color: $albo_white;
        text-align: left;
        text-decoration: none;
        //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
        transition: 0.3s;
    }
    .close-btn {
        position: absolute;
        top: 0;
        right: 22px;
        font-size: 36px;
        width: 50px;
        text-align: center;
    }
}
.custom-title {
    color: $albo_grey;
    font-family: $font_7, $font_8;
    font-size: 48px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.logo {
    width: 10.2vw;
    img {
        width: 11.3vw;
    }
}
.around-title h2 {
    display: inline-block;
    color: $albo_cashmere;
    background-color: $albo_brown;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 7px;
    padding: 2px 5px;
    font-weight: bold;
    text-align: center;
}
.old{
    opacity: 0.4;
}
.custom-content {
    overflow: hidden;
    width: 61vw;
    height: 75vh;
    padding: 5vh 7vw 0 5vw;
    font-family: $font_3, $font_8;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5;
    color: $albo_grey;
    p {
        font-family: $font_3, $font_8;
        font-weight: normal;
    }
    blockquote {
        font-style: italic;
        margin: 0 0 1rem;
    }
    strong {
        font-size: 20px;
        color: $albo_black;
    }
}
.custom-button {
    color: $albo_cashmere;
    background-color: $albo_brown;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 7px;
    padding: 2px 5px;
    font-weight: bold;
    text-align: center;
    &:hover {
        color: $albo_brown;
        background-color: transparent;
    }
    &:active {
        color: $albo_brown;
        background-color: transparent;
    }
}
.dispatch-concerts {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}
.concert {
    width: 24%;
    padding: 2px;
    margin: 2px;
    text-overflow: ellipsis;
    //Instead of the line below you could use @include hyphens($value)
    hyphens: manual;
}
.custom-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    a {
        font-family: $font_3, $font_8;
        font-size: 20px;
        font-weight: bold;
        color: $albo_grey;
        text-decoration: none;
        border-bottom: $albo_brown 1px solid;
        margin-bottom: 5px;
        &:hover a:focus {
            color: $albo_brown;
        }
    }
}
.footer {
    width: 27%;
    margin: 7em 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    a {
        font-family: $font_3, $font_8;
        font-size: 14px;
        color: $albo_grey;
        text-align: center;
        text-decoration: none;
    }
}

@media(max-width: 1440px) {
    nav {
        flex-basis: auto;
    }
    article {
        flex-basis: auto;
    }
    .bg-menu {
        background: $url_40 no-repeat top right;
        background-size: cover;
        padding: 52vh 0 0 3.4vw;
    }
    .footer {
        width: 32%;
    }
}
@media(max-width: 1366px) {
    nav {
        width: 65vw;
        order: -1;
    }
    article {
        flex: 1;
    }
    .bg-menu {
        background: $url_41 no-repeat top right;
        min-height: 100vh;
        background-size: cover;
        padding: 49vh 0 0 1.2vw;
    }
    .footer {
        width: 36%;
    }
}
@media(max-width: 1280px) {
    nav {
        width: 65vw;
        order: -1;
    }
    article {
        flex: 1;
    }
    .bg-menu {
        background: $url_40 no-repeat top right;
        background-size: cover;
        min-height: 100vh;
        padding: 52.5vh 0 0 3vw;
    }
    .footer {
        width: 35%;
    }
}
@media(max-width: 1024px) {
    nav {
        width: 65vw;
        order: -1;
    }
    article {
        flex: 1;
    }
    .bg-menu {
        background: $url_42 no-repeat top left;
        background-size: 25vw;
        min-height: 100vh;
        padding: 52.5vh 0 0 3vw;
    }
    .custom-content {
        padding: 4vh 7vw 0 5vw;
    }
    .logo {
        margin: 1vh 2vw 0 0;
        img {
            width: 11vw;
        }
    }
    .footer {
        width: 45%;
    }
}
@media(max-width: 740px) {
    nav {
        width: 12vw;
        order: -1;
    }
    article {
        flex: 1;
    }
    header {
        height: 29vh;
    }
    .bg-menu {
        background: $albo_brown;
        width: 12vw;
    }
    #menuToggle{
        display: block;
        position: absolute;
        top: 2vh;
        left: 1.5vw;
        z-index: 20;
        -webkit-user-select: none;
        user-select: none;

    }

    #menuToggle input{
        display: block;
        width: 8vw;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0; /* hide this */
        z-index: 15; /* and place it over the hamburger */
        -webkit-touch-callout: none;
    }

    #menuToggle span{
        display: block;
        width: 40px;
        height: 4px;
        margin-bottom: 7px;
        position: relative;
        background: $albo_white;
        border-radius: 3px;
        z-index: 10;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child{
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2){
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-3px, -1px);
        background: $albo_white;
    }

    #menuToggle input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2){
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu{
        position: absolute;
        width: 300px;
        margin: -100px 0 0 0;
        padding: 50px;
        padding-top: 125px;
        right: 60px;
        z-index: 5;
        background: $albo_black_green;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(0%, 0);
        transition: transform 0.5s cubic-bezier(0.5,0.2,0.05,1.0);
        a {
            font-family: $font_7, $font_8;
            font-size: 26px;
            padding: 0 2px 0 4px;
            color: $albo_white;
            text-align: left;
            text-decoration: none;
            transition: 0.3s;
        }

    }

    #menu li{
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul{
        transform: translateX(300px);
        opacity: 0.9;
    }

    .custom-title {
        width: 61vw;
    }
    .logo {
        margin: 1vh 2vw 0 0;
        img {
            width: 22vw;
        }
    }
    .custom-content {
        width: 92%;
        padding: 4vh 9vw 0 5vw;
    }
    .item-menu {
        display: none;
    }
    .item-menu-active{

    }
    .footer {
        display: none;
    }
}
@media(min-width: 740px) {
    .open-slide {
        display: none;
    }
}
@media(max-width: 415px) {
    .logo {
        width: 30vw;
        img {
            width: 30vw;
        }
    }
}
